body
{
    margin: 0;
    font-family: 'Lato', sans-serif;
    
    
}

.header-line
{   
    height:10px ;
    background-color: rgba(0,99,65,1);
}
.header-logo
{
    width: 80%;
    float: left;
    
    
}
.logo
{
    padding-left: 120px;
    padding-top: 18px;
    cursor: pointer;
}
.location-icon
{
    width: 20%;
    
    float: left;
    margin-top:15px ;
    
    
}
.location
{
    width: 15px;
    height: 20px;
    cursor: pointer;
    
}
.location-text
{
    color: #5b5959;
    
    
}
.header-text
{
    padding-left: 100px;
    float: left;
    padding-top: 22px;
    padding-bottom: 15px;
    width: 1419px;
    
}
.menu
{
    color:  #2f2d2d;;
    font-size: 13.5px;
    margin-left: 10px;
    font-size: 100;
    padding-top: 15px;
    padding-bottom: 15px;
}
.menu:hover
{
    background-color: black;
    color: #fff;
}

.green
{
    background-color:  rgb(2, 45, 19)
}

.image-box
{
    width: 40%;
    padding-left: 150px;
    padding-top: 50px;
    float: left;

}
.text-box
{
    padding-top: 120px;
    padding-left: 70px;
    float: left;

}.box1
{
    height: 600px;
    
}
.box2
{
    height: 500px;
    
}
    

.text-box1
{
    padding-top:50px;
    padding-left: 150px;
    float: left;
}
.image-box1
{
    width: 40%;
    padding-left: 300px;
    padding-top: 50px;
    float: left;

}
.socialmedia
{
    height: 100px;
    background-color:#f0f0f0 ; 
}
.fa {
    font-size: 30px;
    width: 50px;
    color: black;
    
  }
  .fa-facebook
{
    margin-left: 30px;
    margin-top: 30px;
    
}
.fa:hover
{
    color: #5b5959;
}
.footer
{
    height: 400px;
    background-color: #f7f7f7;
   
}
.footer1
{
    width: 300px;
    float: left;

}
.footer-tag
{
    color: black;
    opacity: 0.8px;
    padding-left: 100px;
}
.footer2
{   width: 250px;
    float: left;
    padding-top: 50px;
    padding-left: 40px;
    
}
.footer-tag1
{
    color: rgb(60, 55, 55);
    
}
.footer-tag1:hover
{
    opacity: 0.7;
}
.footer-tag:hover
{
    opacity: 0.7;
}
.footer3
{
    width: 300px;
    padding-top: 50px;
    float: left;
}
.footer4
{
    float: left;
    width: 500px;
    text-align: end;
    height: 200px;
    margin-top: 50px;
}
.footer5
{
    margin-left: 120px;
    width: 700px;
    height: 70px; 
    float: left;
    display: inline;
    margin-top: 10px;
}
.class1:hover
{
    cursor: pointer;
    opacity: 0.8;
}